.portfolioContainer {
    margin-left: 5rem;
    color: #ABA8B4;
    background-size: cover;
    background-color: #534D56;
    display: flex;
    flex-wrap: wrap;
  }

.rowContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #534D56;
  padding: 0.5em;
  width: 100%;

}  
.textContainer{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    border-spacing: 1rem;
    align-items: center;
    
}     

.titleContainer:hover {
    
    background-color: #DECDF5;
    border-radius: 7rem;
    box-shadow:-5px -5px 10px whitesmoke,
               5px 5px 15px whitesmoke
}

.titleContainer{
    flex: 1 0 auto;
    overflow-wrap: break-word;
    width: 50%;
    align-items: center;
    text-align: center;
    align-content: center;
   -webkit-transition: background-color 2s ease-in-out;
   -moz-transition: background-color 2s ease-in-out;
   -o-transition: background-color 2s ease-in-out;
   transition: background-color 2s ease-in-out;
   -webkit-transition: box-shadow .8s ease-in-out;
   -moz-transition: box-shadow .8s ease-in-out;
   -o-transition: box-shadow .8s ease-in-out;
   transition: box-shadow .8s ease-in-out;
   width: 100%;
   border-radius: 50%;
   border-radius: 1rem;
   margin-bottom: 7rem;
   border-radius: 7rem;
   border-color: black;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.05),
                40px 20px 40px rgba(0, 0, 0, 0.05)
}

.projectButton{
    background-color: beige;
    color: darkmagenta;
}

.descriptionText {
   flex-grow: 1;
   margin-left: 25vh;
    margin-right: 25vh;

}

/*.descriptionColumn{
    width: 100%; max-width: 25vh;
    margin: 0; 
  padding: 0; 
  height: 1vh;
}*/